body {
    margin: 0;
    padding: 54px 0 0 0;
}

.top {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid grey;
    height: 54px;
}

.nav-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.link {
    padding: 18px;
    display: inline-block;
}

.search,
.menu {
    
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 240px;
        border-right: 1px solid #000;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 10;
        background: #FFF;
    }

    .link-method-search {
        display: none;
    }
}